
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboardt</title>
</head>
<body>
    


    </form>
    {% csrf_token %} 

        
        
    <h1>Welcome, <br> {{user.first_name}} &nbsp {{user.last_name}} </h1>
    <br><br><br>
    <form action="logout">
    <button type="submit">Logout</button>

    

    {% if user.is_superuser == True %}
        I am admin
       <h1>{{usersofad}}</h1> 
        
            
    {% endif %}


    


</body>
</html>